<!doctype html>
<html>

  <head>
    <title>{% block title %}{% endblock %} - What's my fingerprint?</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    {% block script %}{% endblock %}
  </head>

  <body>
    <div id="nav-div">
      <nav>
        <a href="/" class="clickable">Home</a>
        <a href="/fingerprint" class="clickable">My fingerprint</a>
        <a href="/stats" class="clickable">All results</a>
        <a href="/about" class="clickable">About</a>
        <a href="/contact" class="clickable">Contact me</a>
        <a href="https://github.com/jtherrmann/fingerprint" target="_blank" class="clickable">Source code</a>
      </nav>
    </div>
    <div id="content-div">
      {% block content %}{% endblock %}
    </div>
  </body>

</html>
