<!doctype html>
<html>
  <head>
    <title>What's my fingerprint?</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/fingerprint.js"></script>
  </head>
  <body>
    <!-- TODO switch to h1 and style as needed -->
    <h2>HTTP request headers:</h2>
    <table>
      <tr>
        <td>Header "User-Agent"</td>
        <td>{{ header_user_agent }}</td>
      </tr>
    </table>
    <!-- TODO more vertical space here -->
    <h2>JavaScript:</h2>
    <table id="js-results" hidden>
      <tr>
        <td>Header "User-Agent"</td>
        <td id="header-user-agent"></td>
      </tr>
    </table>
    <div id="js-fingerprint-error"></div>
    <noscript>
      JavaScript is not enabled.
    </noscript>
  </body>
</html>
