{% extends 'base.html' %}

{% block title %}Fingerprint{% endblock %}


{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/static/fingerprint.js"></script>
{% endblock %}


{% macro duplicate_message() -%}
<div style="padding-top:2px;" />
<p>
  <b>Note:</b> Your fingerprint was not recorded because it appears you have
  already visited this page and submitted the same fingerprint. If you believe
  this is an error, please contact me. (TODO: link to contact page)
</p>
{%- endmacro %}


{% macro overall_similarity_tooltip(span_id, similarity_value='') -%}
<div style="padding-top:2px;" />
<p>
  <div class="tooltip">
    Overall similarity:
    <span class="tooltiptext-right" style="width:700px;">
      Percentage of fingerprints identical to yours (a higher value indicates
      better anonymity)
    </span>
  </div>
  <span id="{{ span_id }}">{{ similarity_value }}</span>
</p>
{%- endmacro %}


{% macro similarity_tooltip() -%}
<div class="tooltip">
  Similarity
  <span class="tooltiptext-left" style="width:715px;">
    Percentage of fingerprints that have the same value as yours does for the
    given attribute
  </span>
</div>
{%- endmacro %}


{% block content %}
<h2>Initial request:</h2>
<p class="fingerprint-description">
  Headers from the initial request for this webpage.
</p>

{% if duplicate %}{{ duplicate_message() }}{% endif %}

{{ overall_similarity_tooltip('initial-request-overall-similarity', overall_similarity) }}
<table>
  <tr>
    <th>Header</th>
    <th>Value</th>
    <th>{{ similarity_tooltip() }}</th>
  </tr>

  {% for key, val, similarity in headers_results %}
  <tr>
    <td class="key-cell">{{ key }}</td>
    <td class="val-cell">{{ val if val else '' }}</td>
    <td class="percentage-cell">{{ similarity }}</td>
  </tr>
  {% endfor %}
</table>

<div class="spacer" />
<div class="spacer" />
<div class="spacer" />

<h2>JavaScript:</h2>
<p class="fingerprint-description">
  Fingerprinting data collected via JavaScript, reported via an AJAX
  request.
</p>

<div id="js-duplicate" hidden>{{ duplicate_message() }}</div>

<div id="js-results" hidden>
  {{ overall_similarity_tooltip('js-overall-similarity') }}

  <table id="js-headers">
    <tr>
      <th>Header</th>
      <th>Value</th>
      <th>{{ similarity_tooltip() }}</th>
    </tr>
  </table>

  <br />

  <table id="js-other-data">
    <tr>
      <th>Other attribute</th>
      <th>Value</th>
      <th>{{ similarity_tooltip() }}</th>
    </tr>
  </table>

</div>

<div id="js-fingerprint-error"></div>
<noscript>JavaScript is not enabled.</noscript>
{% endblock %}
