<!doctype html>
<html>

  <head>
    <title>What's my fingerprint?</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/fingerprint.js"></script>
  </head>

  <body>
    <!-- TODO switch to h1 and style as needed -->

    <h2>Initial request:</h2>
    <p class="fingerprint-description">
      Headers from the initial request for this webpage.
    </p>
    <p>Overall similarity: {{ overall_similarity }}</p>
    <table>
      {% for key, val, similarity in headers_results %}
      <tr>
        <td class="key-cell">{{ key }}</td>
        <td class="val-cell">{{ val if val else '' }}</td>
        <td class="similarity-cell">{{ similarity }}</td>
      </tr>
      {% endfor %}
    </table>

    <!-- TODO more vertical space here -->

    <h2>JavaScript:</h2>
    <p class="fingerprint-description">
      Fingerprinting data collected via JavaScript, reported via an AJAX
      request.
    </p>
    <p id="js-similarity"></p>
    <div id="js-results" hidden>

      <table id="js-headers">
        <caption>Request headers</caption>
      </table>

      <br />

      <table id="js-other-data">
        <caption>JavaScript data</caption>
      </table>

    </div>

    <div id="js-fingerprint-error"></div>
    <noscript>JavaScript is not enabled.</noscript>

  </body>

</html>
