{% extends 'base.html' %}

{% block title %}Stats{% endblock %}


{% macro stats(header, stats, total) -%}

<h1>{{ header }}</h1>

<p>Total fingerprints: {{ total }}</p>

{% for col in stats %}
<h2>{{ format_database_column_name(col) }}</h2>

<table>
  <tr>
    <th>Value</th>
    <th class="stats-count-cell">Count</th>
    <th class="stats-count-cell">Percentage</th>
  </tr>

  {% for val, count in stats[col].most_common() %}
  <tr>
    <td class="val-cell">{{ val }}</td>
    <td class="stats-count-cell">{{ count }}</td>
    <td class="stats-count-cell">{{ get_percentage(count, total) }}</td>
  </tr>
  {% endfor %}

</table>

{% endfor %}

{%- endmacro %}


{% block content %}

{{ stats('Initial request:', initial_request_stats, initial_request_total) }}

{{ stats('JavaScript:', js_stats, js_total) }}

{% endblock %}
