{% extends 'base.html' %}

{% block title %}Stats{% endblock %}

{% block content %}
<!-- TODO indent -->

<h1>Initial request:</h1>

{% for col in initial_request_stats %}
<h2>{{ col }}</h2>

<table>
  <tr>
    <th>Value</th>
    <th class="stats-count-cell">Count</th>
  </tr>

  {% for val in initial_request_stats[col] %}
  <tr>
    <td class="val-cell">{{ val }}</td>
    <td class="stats-count-cell">{{ initial_request_stats[col][val] }}</td>
  </tr>
  {% endfor %}

</table>

{% endfor %}

<h1>JavaScript:</h1>

{% for col in js_stats %}
<h2>{{ col }}</h2>
{% endfor %}

{% endblock %}
