{% extends 'base.html' %}

{% block title %}Stats{% endblock %}


{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/static/stats.js"></script>
{% endblock %}


{% macro stats(header, stats, total, unique) -%}

<h2>{{ header }}</h2>

<p>Total fingerprints: {{ total }}</p>

<p>Unique fingerprints: {{ unique }}</p>

<br />

{% for col in stats %}

<button type="button" class="clickable stats-button">{{ format_database_column_name(col) }}</button>

<div class="stats-table">
  <table>
    <tr>
      <th>Value</th>
      <th>Percentage</th>
    </tr>

    {% for val, count in stats[col].most_common() %}
    <tr>
      <td class="val-cell">{{ val if val else '' }}</td>
      <td class="percentage-cell">{{ get_percentage(count, total) }}</td>
    </tr>
    {% endfor %}

  </table>
</div>

<div style="padding-top:10px;"></div>

{% endfor %}

{%- endmacro %}


{% block content %}

<h1>All results</h1>

<p>
  <button type="button" id="stats-toggle-all" class="clickable">Show all</button>
</p>

<div style="padding-top:30px;"></div>

{{ stats('Initial request', initial_request_stats, initial_request_total, initial_request_unique) }}

<div style="padding-top:30px;"></div>

{{ stats('JavaScript', js_stats, js_total, js_unique) }}

{% endblock %}
