body {
    background-color: #f2f2f2;
    color: black;
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, td {
    border: 1px solid black;
}

td {
    padding: 10px;
}

table > caption {
    padding-bottom: 5px;
    text-align: left;
}

.fingerprint-description {
    font-style: italic;
}

.key-cell {
    width: 20%;
}

.val-cell {
    font-family: mono;
}

.similarity-cell {
    width: 10%;
}
