body {
    background-color: white;
    color: black;
    font-family: sans-serif;
    margin: 0;
}

#content-div {
    margin: 10px;
}

#nav-div {
    margin: 0;
    padding-bottom: 50px;
}

nav {
    background-color: #757575;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav > .clickable {
    padding: 20px;
}

.clickable {
    background-color: #757575;
    color: white;
    padding: 10px;
    outline: none;

    /* remove underline from links */
    text-decoration: none;
}

.clickable:hover {
    background-color: #555;
}

.overall-similarity-div {
    padding-top: 15px;
    padding-bottom: 25px;
}

.unique-count-div {
    padding-top: 5px;
    padding-bottom: 15px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, td, th {
    border: 1px solid black;
}

td, th {
    padding: 10px;
}

th {
    text-align: left;
}

.fingerprint-description {
    font-style: italic;
}

.key-cell {
    width: 20%;
}

.val-cell {
    font-family: mono;
}

.percentage-cell {
    width: 10%;
}

.error-report-input {
    width: 800px;
}

/* https://www.w3schools.com/css/css_tooltip.asp */

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 2px dotted black;
}

.tooltiptext-left, .tooltiptext-right {
    font-weight: normal;
    visibility: hidden;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
}

.tooltiptext-left {
    top: -5px;
    right: 105%;
}

.tooltiptext-right {
    top: -5px;
    left: 105%;
}

.tooltip:hover {
    cursor: help;
}

.tooltip:hover .tooltiptext-left, .tooltip:hover .tooltiptext-right {
    visibility: visible;
}

/* https://www.w3schools.com/howto/howto_js_collapsible.asp */

.stats-button, #stats-toggle-all {
    border: none;
    cursor: pointer;
    display: block;
    font-size: inherit;
    padding: 18px;
    text-align: left;
    width: 100%;
}

#stats-toggle-all {
    padding: 10px;
    width: initial;
}

.stats-table {
    display: none;
}
